* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'Joan', serif;
  background: #8e9eab;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, right top, left top, from(#eef2f3), to(#8e9eab));
  background: linear-gradient(to left, #eef2f3, #8e9eab);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#root {
  width: 100%;
}

.header-con-carrito, .header-sin-carrito {
  display: -ms-grid;
  display: grid;
  place-content: center;
  -ms-grid-columns: 50% 40% 10%;
      grid-template-columns: 50% 40% 10%;
      grid-template-areas: "titulo ul iconoCarrito";
  padding: 2rem;
  padding-top: 1rem;
  height: 120px;
  margin-bottom: 2rem;
  border-bottom: solid 1px black;
  -webkit-box-shadow: 1px 1px 10px #000003;
          box-shadow: 1px 1px 10px #000003;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  background: #8e9eab;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, right top, left top, from(#eef2f3), to(#8e9eab));
  background: linear-gradient(to left, #eef2f3, #8e9eab);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header-con-carrito a, .header-sin-carrito a {
  margin-top: .5rem;
  text-decoration: none;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-content: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: titulo;
}

.header-con-carrito a h2, .header-sin-carrito a h2 {
  color: black;
  text-transform: uppercase;
}

.header-con-carrito .titulo, .header-sin-carrito .titulo {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 60%;
}

.header-con-carrito nav, .header-sin-carrito nav {
  color: black;
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: ul;
}

.header-con-carrito nav ul, .header-sin-carrito nav ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  list-style: none;
}

.header-con-carrito nav ul li a, .header-sin-carrito nav ul li a {
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding: .3rem;
  text-decoration: none;
  font-size: 1.4rem;
  color: black;
  border-radius: 3px;
  text-align: center;
}

.header-con-carrito nav ul li a:hover, .header-sin-carrito nav ul li a:hover {
  background-color: white;
  -webkit-transition: .5s;
  transition: .5s;
}

.header-con-carrito nav ul li .active, .header-sin-carrito nav ul li .active {
  color: gray;
}

.header-con-carrito nav #check, .header-sin-carrito nav #check {
  display: none;
}

.header-con-carrito nav .bars, .header-sin-carrito nav .bars {
  font-size: 2.8rem;
  cursor: pointer;
  line-height: 120px;
  display: none;
}

.header-con-carrito .contenedor-carrito-bar, .header-sin-carrito .contenedor-carrito-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-con-carrito .contenedor-carrito-bar .icono-carrito, .header-sin-carrito .contenedor-carrito-bar .icono-carrito {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: iconoCarrito;
  color: black;
}

.header-con-carrito .contenedor-carrito-bar .icono-carrito i, .header-sin-carrito .contenedor-carrito-bar .icono-carrito i {
  font-size: 2.8rem;
  margin: .6rem;
}

.header-con-carrito .contenedor-carrito-bar p, .header-sin-carrito .contenedor-carrito-bar p {
  display: -ms-grid;
  display: grid;
  place-content: center;
  font-size: 2rem;
}

.header-sin-carrito {
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
}

main {
  min-height: 100vh;
}

main h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
}

main .catalogo h2 {
  margin: 1rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

main .catalogo .productos {
  margin: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

main .catalogo .productos h3 {
  text-align: center;
  font-size: 100px;
}

main .catalogo .productos p {
  padding-left: .5rem;
  margin-bottom: .5rem;
}

main .catalogo .productos h5 {
  text-transform: uppercase;
  margin-top: 1rem;
  margin-left: 1.4rem;
}

main .catalogo .productos button {
  background-color: white;
  border: none;
  font-size: 1rem;
  padding-top: .2rem;
}

main .catalogo .productos .div-producto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  text-align: center;
  margin: 1rem;
  border: solid 1.5px black;
  border-radius: 5px;
  min-width: 9.4rem;
  min-height: 350px;
  -webkit-box-shadow: 1px 1px 4px #000003;
          box-shadow: 1px 1px 4px #000003;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
}

main .catalogo .productos .div-producto h4 {
  display: -ms-grid;
  display: grid;
  place-content: center;
  background-color: #F0F1F2;
  padding-top: 5px;
  font-weight: normal;
  border-top: solid 1px #EAEBEC;
  padding-bottom: 5px;
}

main .catalogo .productos .div-producto .tittle-prod {
  border-bottom: solid 1px #EAEBEC;
  border-top: none;
  margin-bottom: 10px;
  font-weight: bold;
  padding: .5rem;
}

main .catalogo .productos .div-producto img {
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

main .catalogo .productos .div-producto p {
  margin-top: .6rem;
}

main .catalogo .productos .div-producto a {
  display: -ms-grid;
  display: grid;
  place-content: center;
  border: solid 1px #6CECEC;
  background-color: #D3D3D3;
  color: black;
  text-decoration: none;
  margin: .8rem;
  padding: 8px;
  font-size: 1rem;
  border-radius: 5px;
}

main .catalogo .productos .div-producto a:hover {
  font-weight: bold;
}

main .catalogo .productos .div-producto:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

main .div-detalle {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  place-content: center;
  text-align: center;
  margin: 2rem;
  border: solid 1px black;
  -webkit-box-shadow: 1px 1px 4px #000003;
          box-shadow: 1px 1px 4px #000003;
  border-radius: 10px;
  padding: .5rem;
  background-color: white;
}

main .div-detalle .div-detalle-img {
  display: -ms-grid;
  display: grid;
  place-content: center;
}

main .div-detalle .div-detalle-img img {
  border-radius: 10px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

main .div-detalle .div-contador-container {
  display: -ms-grid;
  display: grid;
  place-content: center;
  width: 100%;
  text-align: center;
}

main .div-detalle .div-contador-container .div-contador {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "restar contador sumar";
  text-align: center;
  border: solid 1px black;
  border-radius: 5px;
  padding: .4rem;
  margin: 1rem;
  margin-bottom: .5rem;
  background-color: #EFEFEF;
  width: 9rem;
}

main .div-detalle .div-contador-container .div-contador .restar {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: restar;
  border: none;
}

main .div-detalle .div-contador-container .div-contador .sumar {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: sumar;
  border: none;
}

main .div-detalle .confirmar-container {
  text-align: center;
  margin-bottom: .5rem;
}

main .div-detalle .confirmar, main .div-detalle .eliminar {
  grid-area: confirmar;
  text-align: center;
  padding: .2rem;
  border-radius: 5px;
  border: solid 1px black;
  font-size: .8rem;
  background-color: #EFEFEF;
  width: 9rem;
  text-decoration: none;
  color: black;
}

main .div-detalle .eliminar {
  background-color: #fc1717;
}

main .div-detalle-info {
  margin-top: 4rem;
}

main .div-detalle-info p {
  margin: 1rem;
}

main .loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (0.5fr)[1];
      grid-template-columns: repeat(1, 0.5fr);
  place-content: center;
  margin-top: 2rem;
  padding: 2rem .5rem;
  padding-bottom: 1rem;
  min-height: 5rem;
  border-top: solid 1px black;
  -webkit-box-shadow: 0px 0px 4px black;
          box-shadow: 0px 0px 4px black;
}

footer p {
  font-size: 1.2rem;
  text-align: center;
  color: black;
  margin-top: 1.5rem;
}

footer i {
  font-size: 2.5rem;
}

footer nav {
  margin-bottom: 1rem;
}

footer nav ul {
  line-height: 3px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

footer nav ul li {
  list-style: none;
}

footer nav ul li a {
  padding: 1rem;
  text-decoration: none;
  font-size: 1.4rem;
  color: black;
}

footer #check {
  display: none;
}

footer .bars {
  display: none;
}

.div-carrito {
  margin: 1.5rem;
  background-color: #f1f1f1;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
}

.div-carrito h2 {
  font-size: 2.5rem;
}

.div-carrito .volver-a-comprar {
  display: inline-block;
  margin: 1rem 0;
  padding: .5rem;
  text-decoration: none;
  color: black;
  border: solid 1px black;
  border-radius: 5px;
  background-color: #8e9eab;
}

.div-carrito .volver-a-comprar:hover {
  background-color: lightblue;
  font-weight: bold;
}

.div-carrito .div-productos-carrito {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  margin: 1rem 2rem;
}

.div-carrito .div-productos-carrito .div-productos-carrito-img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.div-carrito .div-productos-carrito .div-productos-carrito-img img {
  height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
}

.div-carrito .div-productos-carrito .div-productos-carrito-img p {
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin: 1rem 0;
}

.div-carrito .div-productos-carrito div {
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.div-carrito .div-productos-carrito div button {
  padding: .5rem;
  border: solid 1px black;
  border-radius: 5px;
  margin: 0 .5rem;
  background-color: #fc1717;
}

.div-vaciar-carrito {
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.div-vaciar-carrito .vaciarCarrito {
  margin: 2rem 0;
  padding: .5rem;
  border: solid 1px black;
  border-radius: 5px;
}

form {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  margin: 2rem;
}

form input {
  padding: .4rem;
  width: 30%;
  margin-bottom: .5rem;
  border-radius: 5px;
  border: solid 1px black;
}

form button {
  padding: .4rem;
  width: 30%;
  border-radius: 5px;
  border: solid 1px black;
}

@media (max-width: 1200px) {
  .header-con-carrito, .header-sin-carrito {
    -ms-grid-columns: 30% 65% 5%;
        grid-template-columns: 30% 65% 5%;
  }
  .header-sin-carrito {
    -ms-grid-columns: 30% 70%;
        grid-template-columns: 30% 70%;
  }
  main .catalogo .productos {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 767px) {
  p {
    font-size: .8rem;
  }
  .header-con-carrito, .header-sin-carrito {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "titulo iconoCarrito ul";
  }
  .header-con-carrito .titulo, .header-sin-carrito .titulo {
    width: 100%;
  }
  .header-con-carrito nav ul, .header-sin-carrito nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    width: 100%;
    height: 90vh;
    background-color: burlywood;
    top: 120px;
    left: 0%;
    display: none;
    -webkit-transition: all .5s;
    transition: all .5s;
    z-index: 10;
    border: solid 2px black;
    border-top: none;
    border-radius: 5px;
  }
  .header-con-carrito nav ul li, .header-sin-carrito nav ul li {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-con-carrito nav ul li a, .header-sin-carrito nav ul li a {
    width: 100%;
  }
  .header-con-carrito nav .bars, .header-sin-carrito nav .bars {
    font-size: 2.8rem;
    cursor: pointer;
    line-height: 120px;
    display: block;
  }
  .header-con-carrito nav #check:checked + ul, .header-sin-carrito nav #check:checked + ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-con-carrito .contenedor-carrito-bar, .header-sin-carrito .contenedor-carrito-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-con-carrito .contenedor-carrito-bar p, .header-sin-carrito .contenedor-carrito-bar p {
    font-size: 1.5rem;
  }
  main .catalogo .productos {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  main .div-detalle {
    min-height: 450px;
  }
  main .div-detalle img {
    height: 200px;
  }
  main .div-detalle p {
    font-size: .8rem;
  }
  .div-carrito .div-productos-carrito {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .div-carrito .div-productos-carrito .div-productos-carrito-img {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .div-carrito .div-productos-carrito div button {
    margin: .5rem 0;
  }
}

@media (max-width: 576px) {
  main .catalogo .productos {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  main .catalogo .productos .div-producto {
    width: 22rem;
    font-size: .8rem;
  }
  main .catalogo .productos .div-producto img {
    height: 130px;
  }
  main .catalogo .productos .div-producto a {
    font-size: .8rem;
  }
  footer i {
    font-size: 2.1rem;
  }
  footer p {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=estilos.css.map */