* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'Joan', serif;
  background: #8e9eab;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, right top, left top, from(#eef2f3), to(#8e9eab));
  background: linear-gradient(to left, #eef2f3, #8e9eab);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#root {
  width: 100%;
}

.header-con-carrito, .header-sin-carrito {
  display: -ms-grid;
  display: grid;
  place-content: center;
  -ms-grid-columns: 55% 40% 5%;
      grid-template-columns: 55% 40% 5%;
  padding: 2rem;
  padding-top: 1rem;
  margin-bottom: 2rem;
  border-bottom: solid 2px black;
}

.header-con-carrito a, .header-sin-carrito a {
  margin-top: .5rem;
  text-decoration: none;
  width: 30%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.header-con-carrito a h2, .header-sin-carrito a h2 {
  color: black;
  text-transform: uppercase;
}

.header-con-carrito nav, .header-sin-carrito nav {
  color: black;
}

.header-con-carrito nav ul, .header-sin-carrito nav ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  list-style: none;
}

.header-con-carrito nav ul li a, .header-sin-carrito nav ul li a {
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding: 1rem;
  text-decoration: none;
  font-size: 1.4rem;
  color: black;
}

.header-con-carrito nav ul li .active, .header-sin-carrito nav ul li .active {
  color: gray;
}

.header-con-carrito .icono-carrito, .header-sin-carrito .icono-carrito {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  place-content: center;
  background: -webkit-gradient(linear, right top, left top, from(#EBF0F1), to(#E7ECEE));
  background: linear-gradient(to left, #EBF0F1, #E7ECEE);
  color: black;
  border: #CBC8C3;
}

.header-con-carrito .icono-carrito i, .header-sin-carrito .icono-carrito i {
  font-size: 2.8rem;
}

.header-sin-carrito {
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
}

main {
  min-height: 100vh;
}

main h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
}

main .catalogo h2 {
  margin: 1rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

main .catalogo .productos {
  margin: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

main .catalogo .productos h3 {
  text-align: center;
  font-size: 100px;
}

main .catalogo .productos p {
  padding-left: .5rem;
  margin-bottom: .5rem;
}

main .catalogo .productos h5 {
  text-transform: uppercase;
  margin-top: 1rem;
  margin-left: 1.4rem;
}

main .catalogo .productos button {
  background-color: white;
  border: none;
  font-size: 1rem;
  padding-top: .2rem;
}

main .catalogo .productos .div-producto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  text-align: center;
  margin: 1rem;
  border: solid 1.5px black;
  border-radius: 5px;
  min-width: 9.4rem;
  min-height: 350px;
  -webkit-box-shadow: 1px 1px 4px #000003;
          box-shadow: 1px 1px 4px #000003;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
}

main .catalogo .productos .div-producto h4 {
  display: -ms-grid;
  display: grid;
  place-content: center;
  background-color: #F0F1F2;
  padding-top: 5px;
  font-weight: normal;
  border-top: solid 1px #EAEBEC;
  padding-bottom: 5px;
}

main .catalogo .productos .div-producto .tittle-prod {
  border-bottom: solid 1px #EAEBEC;
  border-top: none;
  margin-bottom: 10px;
  font-weight: bold;
  padding: .5rem;
}

main .catalogo .productos .div-producto img {
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

main .catalogo .productos .div-producto p {
  margin-top: .6rem;
}

main .catalogo .productos .div-producto a {
  display: -ms-grid;
  display: grid;
  place-content: center;
  border: solid 1px #6CECEC;
  background-color: #D3D3D3;
  color: black;
  text-decoration: none;
  margin: .8rem;
  padding: 8px;
  font-size: 1rem;
  border-radius: 5px;
}

main .catalogo .productos .div-producto a:hover {
  font-weight: bold;
}

main .catalogo .productos .div-producto:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

main .div-detalle {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  place-content: center;
  text-align: center;
  margin: 2rem;
  border: solid 1px black;
  -webkit-box-shadow: 1px 1px 4px #000003;
          box-shadow: 1px 1px 4px #000003;
  border-radius: 10px;
  padding: .5rem;
  background-color: white;
}

main .div-detalle img {
  border-radius: 10px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

main .div-detalle .div-contador-container {
  display: -ms-grid;
  display: grid;
  place-content: center;
  width: 100%;
  text-align: center;
}

main .div-detalle .div-contador-container .div-contador {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "restar contador sumar";
  text-align: center;
  border: solid 1px black;
  border-radius: 5px;
  padding: .4rem;
  margin: 1rem;
  margin-bottom: .5rem;
  background-color: #EFEFEF;
  width: 9rem;
}

main .div-detalle .div-contador-container .div-contador .restar {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: restar;
  border: none;
}

main .div-detalle .div-contador-container .div-contador .sumar {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: sumar;
  border: none;
}

main .div-detalle .confirmar-container {
  text-align: center;
  margin-bottom: .5rem;
}

main .div-detalle .confirmar, main .div-detalle .eliminar {
  grid-area: confirmar;
  text-align: center;
  padding: .2rem;
  border-radius: 5px;
  border: solid 1px black;
  font-size: .8rem;
  background-color: #EFEFEF;
  width: 9rem;
  text-decoration: none;
  color: black;
}

main .div-detalle .eliminar {
  background-color: #fc1717;
}

main .div-detalle-info {
  margin-top: 4rem;
}

main .div-detalle-info p {
  margin: 1rem;
}

main .loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  margin-top: 2rem;
  padding: 2rem .5rem;
  padding-bottom: 1rem;
  min-height: 5rem;
  border-top: solid 2px black;
}

footer p {
  font-size: 1.2rem;
  text-align: center;
  color: black;
  margin-top: 1.5rem;
}

footer nav {
  margin-bottom: 1rem;
}

footer nav ul {
  line-height: 3px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

footer nav ul li {
  list-style: none;
}

footer nav ul li a {
  padding: 1rem;
  text-decoration: none;
  font-size: 1.4rem;
  color: black;
}

.div-carrito {
  margin: 1.5rem;
  background-color: #f1f1f1;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
}

.div-carrito h2 {
  font-size: 2.5rem;
}

.div-carrito .volver-a-comprar {
  display: inline-block;
  margin: 1rem 0;
  padding: .5rem;
  text-decoration: none;
  color: black;
  border: solid 1px black;
  border-radius: 5px;
  background-color: #8e9eab;
}

.div-carrito .volver-a-comprar:hover {
  background-color: lightblue;
  font-weight: bold;
}

.div-carrito .div-productos-carrito {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  width: 75%;
  margin: 1rem 2rem;
}

.div-carrito .div-productos-carrito img {
  height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
}

.div-carrito .div-productos-carrito p {
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.div-carrito .div-productos-carrito div {
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.div-carrito .div-productos-carrito div button {
  padding: .5rem;
  border: solid 1px black;
  border-radius: 5px;
  margin: 0 .5rem;
  background-color: #fc1717;
}

.div-vaciar-carrito {
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.div-vaciar-carrito .vaciarCarrito {
  margin: 2rem 0;
  padding: .5rem;
  border: solid 1px black;
  border-radius: 5px;
}

form {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  margin: 2rem;
}

form input {
  padding: .4rem;
  width: 30%;
  margin-bottom: .5rem;
  border-radius: 5px;
  border: solid 1px black;
}

form button {
  padding: .4rem;
  width: 30%;
  border-radius: 5px;
  border: solid 1px black;
}
/*# sourceMappingURL=estilos.css.map */