*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

#root{
    width: 100%;
}

header{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: black;
    padding: 1rem;
    padding-top: 2rem;
    margin-bottom: 2rem;
    a{
        text-decoration: none;
        h2{
            color: white;
            line-height: 3px;
            text-transform: uppercase;
        }
    }
    nav{
        display: grid;
        grid-template-columns: 80% 20%;
        text-align: center;
        ul{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            list-style: none;
            li{
                a{
                    padding: 1rem;
                    text-decoration: none;
                    font-size: 1.4rem;
                    color: white;
                }
            }
        }
        button{
            background-color: black;
            color: white;
            i{
                font-size: 2rem;
            }
        }
        
    }
}

main{
    min-height: 100vh;
    h1{
        text-align: center;
        text-transform: uppercase;
        font-size: 3rem;
    }
    .productos{
        margin: 2rem;
        h2{
            margin-bottom: 1.5rem;
            text-transform: uppercase;
        }
        p{
            padding-left: .5rem;
            margin-bottom: .5rem;
        }

        h5{
            text-transform: uppercase;
            margin-top: 1rem;
            margin-left: 1.4rem;
        }

        button{
            background-color: white;
            border: none;
            font-size: 1rem;
            padding-top: .2rem;
        }

        .div-contador{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-areas: "restar contador sumar";
            width: 8rem;
            text-align: center;
            border: solid 1px black;
            border-radius: 5px;
            padding: .4rem;
            margin: 1rem;
            margin-bottom: .5rem;

            p{
                padding-top: .6rem;
                grid-area: contador;
            }

            .restar{
                grid-area: restar;
            }

            .sumar{
                grid-area: sumar;
            }

        }

        .contenedor-vaciar{
            text-align: center;
            width: 8rem;
            margin: 0rem 1rem;
            .vaciar{
                grid-area: confirmar;
                text-align: center;
                padding: .2rem;
                border-radius: 5px;
                border: solid 1px black;
                background-color: white;
                font-size: .8rem;
                width: 100%;
            }
        }
    }
}

footer{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-top: 2rem;
    padding: 2rem .5rem;
    padding-bottom: 1rem;
    background-color: black;
    min-height: 5rem;
    p{
        font-size: 1.2rem;
        text-align: center;
        color: white;
        margin-top: 1.5rem;
        // padding-top: 1rem;
    }
    nav{
        margin-bottom: 1rem;
        ul{
            line-height: 3px;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            text-align: center;

            li{
                a{
                    padding: 1rem;
                    text-decoration: none;
                    font-size: 1.4rem;
                    color: white;
                }
            }
        }
    }
}